.PlaygroundEditorTheme__h1 {
    font-size: 24px;
    color: rgb(5, 5, 5);
    font-weight: 400;
    margin: 0;
  }
  .PlaygroundEditorTheme__h2 {
    font-size: 15px;
    color: rgb(101, 103, 107);
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
  }
  .PlaygroundEditorTheme__h3 {
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
  }